@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

/*--------- NORMALIZACIÓN ----------*/

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*Font-sizes*/
    --font-display: 4.2rem;
    --font-jumbo: 3.6rem;
    --font-xlarge: 3.2rem;
    --font-large: 2.8rem;
    --font-medium: 2.2rem;
    --font-small: 1.8rem;
    --font-xsmall: 1.6rem;
    --font-thin: 1.2rem;

    /*Font-styles*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*Backgrounds*/
    --dark-bg: #222020;
    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;

    /*Font-colors*/
    --light-font: #ddf4ed;
    --green-font: #0abd81;

    /* Palette */
    --primary-solid: #d61313;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);
    
    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    /*Spacings*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

html{
    font-size: 62.5%;
    font-family: var(--base-font);
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

ul, ol{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: var(--light-bg-solid);
}

/*------------ HEADER -------------*/
.header{
    width: 100%;
    padding: var(--spacing-16) var(--spacing-12);
    background-color: var(--light-bg-solid);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__items{
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
}


.navbar__link{
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--light-font);
    background-color: var(--primary-solid);
    padding: var(--spacing-8) var(--spacing-12);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .6s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}



.navbar__link:hover{
    background: var(--light-bg-solid);
    color: var(--primary-solid);
    border-color: var(--primary-solid);
}

.navbar__logo{
    max-width: 60px;
}


/*----------- HERO ------------*/
.hero{
    background-image: url("../img/branding/hero.webp");
    padding: 256px var(--spacing-36);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: top;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__logo-container{
    position: absolute;
}

.hero__logo{
    max-width: 300px;
    filter:drop-shadow(1px 1px 5px rgb(255, 0, 0));
}



/*-------- PLANTILLA ----------*/
.main-container{
    padding: var(--spacing-128) 0;
}

.plantilla{
    width: 100%;
    background: linear-gradient( rgba(255, 1, 1, 0.74) 10%, rgba(255, 0, 0, 0.67) 100% ), url("../img/campnou.jpeg") fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    align-items: center;
    padding: var(--spacing-36) var(--spacing-68);
    border-radius: 10px;
    position: relative;
}

.plantilla::before{
    border-radius: 10px;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:linear-gradient(90deg, rgba(161,0,0,.5) 0%, rgba(118, 23, 1, 0.5) 48%, rgba(255,0,0,.5) 100%);;
    backdrop-filter: saturate(1) blur(3px) hue-rotate(355deg) opacity(.4);
}

.plantilla__title{
    font-size: var(--font-display);
    color: var(--light-font);
    z-index: 10;
}

.plantilla__position{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-28);
    margin-bottom: var(--spacing-24);
}


.plantilla__position-title{
    z-index: 10;
    text-align: center;
    font-size: var(--font-jumbo);
    font-weight: 700;
    text-transform: capitalize;
    color: var(--light-font);
}

.plantilla__card-container{
    z-index: 10;
    display: flex;
    gap: var(--spacing-24);
    width: 100%;
}

.card{
    overflow: hidden;
    flex: 0 0 350px;
    position: relative;
}

.card__caption{
    padding: var(--spacing-16);
    background: var(--light-bg-solid);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.card__caption p:first-child{
    color: var(--primary-solid);
}

.card__caption-name{
    font-size: var(--font-medium);
    font-weight: 600;
}

.card__caption-position{
    font-size: var(--font-small);
}

/*----- FOOTER-------*/
.footer{
    background-color: var(--primary-solid);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: var(--spacing-68) 0 var(--spacing-36) 0;
}

.footer__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.footer__navbar-items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__navbar-items .navbar__link{
    border: none;
}

.footer__navbar-logo{
    max-width: 150px;
}

.footer__copy{
    color: var(--light-font);
    font-size: var(--font-thin);
}


@media screen and (max-width:768px) {
    
}